{%extends 'base.html'%}

{%block include_css%}
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'books/view_detail/style.css' %}">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
{%endblock%}

{%block body%}
    <div class="wrapper">
        {%if book%}
            <section class="iLearn-detail iLearn-book">
                <h1>{{book.title}}</h1>
                <div class="iLearn-book-cover" style="background-image: url({{book.cover_image.url}})"></div>
                <div class="iLearn-book-isbn"><span>ISBN: <b>{{book.isbn}}</b></span></div>
            </section>
        {%endif%}
    </div>
{%endblock%}
