{%extends 'base.html'%}
{%block include_css%}
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'books/forms/style.css' %}">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
{%endblock%}
{%block title%}iLearn &raquo; Share your creations!{%endblock%}

{%block body%}
    <h1 class="form-heading">Share your creations!</h1>
    {%if book.user == user%}
        <form action="" method="POST" enctype="multipart/form-data" class="iLearn-create">
            {%csrf_token%}
            {%include 'form-template.html'%}
            <div>
                <br><br><button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    {%else%}
        <h1>Mhhh... you cannot edit this book!</h1>
    {%endif%}
{%endblock%}