{%extends 'base.html'%}

{%block include_css%}
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'books/view_index/style.css' %}">
{%endblock%}

{%block body%}
    {%if books%}
        <section class="iLearn-books">
            <h1>Latest Books</h1>
            {%for book in books%}
                <a href="{% url 'books:detail' book.id %}">
                    <section class="iLearn-book">
                            <div class="iLearn-book-cover" style="background-image: url({{book.cover_image.url}})"></div>
                            <div class="iLearn-book-author"><span>{{book.author}}</span></div>
                            {%if user.is_authenticated %}
                                <div class="iLearn-book-isbn"><span>{{book.isbn}}</span></div>
                                <div class="iLearn-book-operations">
                                    {%if book.user == user%}
                                        <a href="{%url 'books:edit-book' book.id%}">Edit</a>
                                        <a href="{%url 'books:delete-book' book.id%}">Delete</a>
                                    {%endif%}
                                </div>
                            {%endif%}
                    </section>
                </a>
            {%endfor%}
        </section>
    {%endif%}
{%endblock%}